.button__order {
    margin: 24px 0 12px 0;
    height: 44px;
    border-radius: 8px;
    background-color: rgba(203, 17, 171, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'SegoeUI';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
}