.button__enumerator {
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 1);
    font-family: 'SegoeUI';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
}

.button__enumerator:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}