.card__info_options {
    margin: 0;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
}

@media screen and (max-width: 690px) {
    .card__info_options {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}