@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/cart/cart.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/tabbar/tabbar.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__basket/page__basket.css);
@import url(../blocks/text/_error/text_error.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/__enumerator/button__enumerator.css);
@import url(../blocks/button/__enumerator/_text/button__enumerator_text.css);
@import url(../blocks/button/__order/button__order.css);
@import url(../blocks/button/__order/_popup/button__order_popup.css);
@import url(../blocks/button/__popup/_delivery/button__popup_delivery.css);
@import url(../blocks/button/__popup/_payment/button__popup_payment.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__frame/header__frame.css);
@import url(../blocks/header/__catalog/header__catalog.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__search/header__search.css);
@import url(../blocks/header/__input/header__input.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__profile/header__profile.css);
@import url(../blocks/header/__item/header__item.css);
@import url(../blocks/header/__item/_icon/header__item_icon.css);
@import url(../blocks/header/__item/_title/header__item_title.css);
@import url(../blocks/header/__basket/header__basket.css);

@import url(../blocks/basket/basket.css);
@import url(../blocks/basket/__title/basket__title.css);
@import url(../blocks/basket/__section/basket__section.css);
@import url(../blocks/basket/__section/_result/basket__section_result.css);
@import url(../blocks/basket/__section/_delivery/basket__section_delivery.css);
@import url(../blocks/basket/__section/_delivery/_company/basket__section_delivery_company.css);
@import url(../blocks/basket/__forminput/basket__forminput.css);
@import url(../blocks/basket/__forminput/_title/basket__forminput_title.css);
@import url(../blocks/basket/__forminput/_dropdown/basket__forminput_dropdown.css);
@import url(../blocks/basket/__checkbox/basket__checkbox.css);
@import url(../blocks/basket/__checkbox/_title/basket__checkbox_title.css);
@import url(../blocks/basket/__checkbox/_result-card/basket__checkbox_result-card.css);
@import url(../blocks/basket/__checkbox/_rules/basket__checkbox_rules.css);
@import url(../blocks/basket/__actualcards/basket__actualcards.css);
@import url(../blocks/basket/__actualcard/basket__actualcard.css);
@import url(../blocks/basket/__actualcard/_price/basket__actualcard_price.css);
@import url(../blocks/basket/__actualcard/_value/basket__actualcard_value.css);
@import url(../blocks/basket/__actualcard/_valuta/basket__actualcard_valuta.css);
@import url(../blocks/basket/__old/_price/basket__old_price.css);
@import url(../blocks/basket/__old/_value/basket__old_value.css);
@import url(../blocks/basket/__old/_valuta/basket__old_valuta.css);
@import url(../blocks/basket/__irrelevant/_title/basket__irrelevant_title.css);
@import url(../blocks/basket/__nonecard/basket__nonecard.css);

@import url(../blocks/card/__checkbox/card__checkbox.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__image/_none/card__image_none.css);

@import url(../blocks/card/__info/_title/card__info_title.css);
@import url(../blocks/card/__info/_subtitle/card__info_subtitle.css);
@import url(../blocks/card/__info/_subtitle/_text/card__info_subtitle_text.css);
@import url(../blocks/card/__info/_color/_title/card__info_color_title.css);
@import url(../blocks/card/__info/_color/_value/card__info_color_value.css);
@import url(../blocks/card/__info/_size/_title/card__info_size_title.css);
@import url(../blocks/card/__info/_size/_value/card__info_size_value.css);
@import url(../blocks/card/__info/_direction/card__info_direction.css);
@import url(../blocks/card/__info/_adress/card__info_adress.css);
@import url(../blocks/card/__info/_company/card__info_company.css);
@import url(../blocks/card/__info/_icon/card__info_icon.css);
@import url(../blocks/card/__info/_amount/card__info_amount.css);
@import url(../blocks/card/__info/_amount/_nonecard/card__info_amount_nonecard.css);
@import url(../blocks/card/__info/_enumerator/card__info_enumerator.css);
@import url(../blocks/card/__info/_buttons/card__info_buttons.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/card/__basket/card__basket.css);

@import url(../blocks/totalprice/totalprice.css);
@import url(../blocks/price/price.css);

@import url(../blocks/delivery/delivery.css);
@import url(../blocks/delivery/__title/delivery__title.css);
@import url(../blocks/delivery/__subtitle/delivery__subtitle.css);
@import url(../blocks/delivery/__information/delivery__information.css);
@import url(../blocks/delivery/__information/_paragraph/delivery__information_paragraph.css);
@import url(../blocks/delivery/__information/_location/delivery__information_location.css);
@import url(../blocks/delivery/__information/_location/_value/delivery__information_location_value.css);
@import url(../blocks/delivery/__information/_location/_title/delivery__information_location_title.css);
@import url(../blocks/delivery/__information/_location/_subtitle/delivery__information_location_subtitle.css);
@import url(../blocks/delivery/__information/_location/_schedule/delivery__information_location_schedule.css);
@import url(../blocks/delivery/__information/_price/delivery__information_price.css);
@import url(../blocks/delivery/__information/_price/_title/delivery__information_price_title.css);
@import url(../blocks/delivery/__information/_title/delivery__information_title.css);
@import url(../blocks/delivery/__information/_raiting/delivery__information_raiting.css);
@import url(../blocks/delivery/__information/_date/_cards/delivery__information_date_cards.css);
@import url(../blocks/delivery/__information/_image/delivery__information_image.css);
@import url(../blocks/delivery/__information/_subtitle/delivery__information_subtitle.css);
@import url(../blocks/delivery/__information/_span/delivery__information_span.css);
@import url(../blocks/delivery/__information/_card/delivery__information_card.css);
@import url(../blocks/delivery/__information/_card/_requisites/delivery__information_card_requisites.css);
@import url(../blocks/delivery/__information/_card/_warning/delivery__information_card_warning.css);
@import url(../blocks/delivery/__information/_card/_rules/delivery__information_card_rules.css);
@import url(../blocks/delivery/__information/_card/_icon/delivery__information_card_icon.css);
@import url(../blocks/delivery/__inputs/delivery__inputs.css);
@import url(../blocks/delivery/__inputs/_name/delivery__inputs_name.css);
@import url(../blocks/delivery/__inputs/_contacts/delivery__inputs_contacts.css);
@import url(../blocks/delivery/__result/delivery__result.css);
@import url(../blocks/delivery/__result/_info/delivery__result_info.css);
@import url(../blocks/delivery/__result/_amount/delivery__result_amount.css);
@import url(../blocks/delivery/__result/_amount/_title/delivery__result_amount_title.css);
@import url(../blocks/delivery/__result/_amount/_number/delivery__result_amount_number.css);
@import url(../blocks/delivery/__result/_price/_amount/delivery__result_price_amount.css);
@import url(../blocks/delivery/__result/_price/_sale/delivery__result_price_sale.css);
@import url(../blocks/delivery/__result/_price/_delivery/delivery__result_price_delivery.css);
@import url(../blocks/delivery/__result/_sale/delivery__result_sale.css);
@import url(../blocks/delivery/__result/_text/delivery__result_text.css);
@import url(../blocks/delivery/__result/_title/delivery__result_title.css);
@import url(../blocks/delivery/__result/_icon/delivery__result_icon.css);
@import url(../blocks/delivery/__result/_subtitle/delivery__result_subtitle.css);
@import url(../blocks/delivery/__result/_card/delivery__result_card.css);
@import url(../blocks/delivery/__result/_item/delivery__result_item.css);

@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_type/_name/form__input_type_name.css);
@import url(../blocks/form/__input/_type/_surname/form__input_type_surname.css);
@import url(../blocks/form/__input/_type/_mail/form__input_type_mail.css);
@import url(../blocks/form/__input/_type/_mail/_title/form__input_type_mail_title.css);
@import url(../blocks/form/__input/_type/_mail/_subtitle/form__input_type_mail_subtitle.css);
@import url(../blocks/form/__input/_type/_phone/form__input_type_phone.css);
@import url(../blocks/form/__input/_type/_phone/_title/form__input_type_phone_title.css);
@import url(../blocks/form/__input/_type/_phone/_subtitle/form__input_type_phone_subtitle.css);
@import url(../blocks/form/__input/_type/_tin/form__input_type_tin.css);
@import url(../blocks/form/__input/_type/_tin/_title/form__input_type_tin_title.css);
@import url(../blocks/form/__input/_type/_tin/_subtitle/form__input_type_tin_subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__subtitle/popup__subtitle.css);
@import url(../blocks/popup/__title/_item/popup__title_item.css);
@import url(../blocks/popup/__button/_item/popup__button_item.css);
@import url(../blocks/popup/__delivery/popup__delivery.css);
@import url(../blocks/popup/_item/popup_item.css);