.delivery__information_price {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

@media screen and (max-width: 480px) {
    .delivery__information_price {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}